#contact-container {
  display: flex;
  flex-flow: column nowrap;
}

.contact-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  margin-right: 1rem;
  margin-left: 1rem;
  width: 100%;
  text-align: center;
}

#contact-item-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.contact-item {
  min-height: 10vh;
  width: 90%;
  margin-right: 5rem;
  margin-left: 5rem;
  padding-left: 5rem;
  font-size: 5rem;
  background: transparent;

  transition: background-color 0.4s ease;
}

.contact-item:hover {
  cursor: pointer;
}

.contact-item-detail {
  margin-left: 3rem;
}

.contact-item:after {
  content: '';
  display: block;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.contact-item:after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.contact-item:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
