.contact-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contact-box {
  height: 100px;
  width: 200px;
  border: 2px solid red;
}

.contact-box:hover {
  cursor: pointer;
  background: rgb(250, 167, 253);
}
