.contact-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  min-height: 100vh;
  background: transparent; // #121212;
}

.contact-header {
  // Flex box settings
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  // Formatting
  margin-right: 30px;
  margin-left: 30px;
  height: 200px;
  width: 100%;
  border-radius: 15px;
  text-align: center;
}

.contact-box {
  // Flex box settings
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  // Formatting
  height: 5em;
  width: 5em;
  margin-top: 50px;
  border-radius: 50%;
  backdrop-filter: blur(9.9px);
  transition: box-shadow 0.2s;
}

.contact-box:hover {
  cursor: pointer;
  box-shadow: 0 0 2em hsl(250.8, 100%, 50% / 0.5);
}
