// ================================= Page 1 ==================================

.landing-page-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 10vw;
}
