.landing-page-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.marquee {
  white-space: nowrap;
  margin: 5rem;
}

.landing-caption {
  padding: 5rem;
}
