#bloch-sphere-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 1em;
}

.bloch-sphere-section {
  position: relative;
  margin: 1em;
  max-height: 100vh;
  // outline: 2px solid red;
}

// ======================= DESCRIPTION PANEL ===================

#bloch-sphere-description {
  margin: 1em;
  padding: 2em;
}

.bloch-sphere-description-heading {
  padding: 0.5rem;
}

.bloch-sphere-description-text {
  // outline: 1px solid pink;
  padding: 1rem;
  font-size: 1.5rem;
}
.bloch-sphere-description-accordion {
  // outline: 2px solid green;
  background: transparent !important;
}

#bloch-sphere-description-title {
  padding: 1em;
  // outline: 2px solid green;
  background: transparent !important;
}

// ========================= CANVAS ==========================

#bloch-sphere-canvas {
  position: relative;
  aspect-ratio: 4 / 3;
  z-index: -999;
  height: 100%;
  // outline: 3px solid green;
}

// ================================== CONTROLS PANEL =====================
.bloch-sphere-controls-section {
  padding: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

#bloch-sphere-controls {
  position: absolute;

  top: 25%;
  margin: 2em;
  padding: 2em;
  width: 25vw;

  // outline: 2px solid green;

  // Flex blox
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  backdrop-filter: blur(1.5px);
}
