#bloch-sphere-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 1em;
}

#bloch-sphere-render-section {
  margin-top: 3rem;
  padding: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

// ======================= DESCRIPTION PANEL ===================

#bloch-sphere-description {
  margin: 1rem;
  padding: 2rem;
}

.bloch-sphere-description-heading {
  padding: 0.5rem;
}

.bloch-sphere-description-text {
  padding: 1rem;
  font-size: 1.25rem;
}
.bloch-sphere-description-accordion {
  background: transparent !important;
}

#bloch-sphere-description-title {
  padding: 1em;
  background: transparent !important;
}

// ========================= CANVAS ==========================

#bloch-sphere-canvas {
  aspect-ratio: 4 / 3;
  // outline: 3px solid green;
}

// ================================== CONTROLS PANEL =====================
.bloch-sphere-controls-section {
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

#bloch-sphere-controls {
  top: 25%;
  padding: 2em;
  width: 40vw;

  border-radius: 2rem;
  border: 2px solid #4a535d;

  transition: border 0.4s;

  // Flex blox
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

#bloch-sphere-controls:hover {
  border-color: white;
}
