* {
  font-family: 'Roboto';
}

html,
body,
.main,
#root,
#root > div {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  padding: 1em;
}
