:root {
  --skew-amount: 15deg;
  --magic-number: 0.09719;
  --content-width: 100vw;
  --skew-padding: calc(var(--content-width) * var(--magic-number));
}
html {
  // ------------ Scrolling -------------
  overflow: overlay; /* Make scrollbar track transparent */
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}

body {
  // ------------- Font Smoothing ---------
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // -------------- Cursor -------------
  // cursor: url('assets/images/ellipse.svg'), pointer;
  // cursor: -webkit-image-set(
  //     url('assets/images/ellipse.svg') 1x,
  //     url('assets/images/ellipse.svg') 2x
  //   ),
  //   pointer;

  height: 100%;
}

a {
  color: #fff;
}
//  ======================= Custom Components ===============================

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

// ======================== HOME  ============================================

.page-container {
  min-height: 110vh;
  min-width: 100vw;
  scroll-snap-align: start;
}

.row-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: center;
}

.text {
  max-width: 45ch;
}

.canvas-background {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -999;
}

// ================================= Page 1 ==================================

.column-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 15vw;
}

// ======================== CUSTOM SCROLLBAR =======================================

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
  border: 1px solid transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(49, 0, 105, 0.7);
  // border: 1px solid #ffffff;
  // box-shadow: 0 0 1em hsl(280, 100%, 50% / 1);
  border-radius: 4px;
}
// ======================= SHINY BUTTON ============================================
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

.shiny-button {
  backdrop-filter: blur(9.9px);

  --webkit-backdrop-filter: blur(9.9px);

  @include transition(all 0.2s ease-in);
  &:hover {
    box-shadow: 0 0 30px 0 transparentize(#6df1d8, 0.2);
    cursor: pointer;
    // background-color: hsl(250.8, 100%, 50% / 0.7);
  }
}
