:root {
  --skew-amount: 15deg;
  --magic-number: 0.09719;
  --content-width: 100vw;
  --skew-padding: calc(var(--content-width) * var(--magic-number));
  --background-color: #000;
}

html {
  // ------------ Scrolling -------------
  overflow: overlay; /* Make scrollbar track transparent */
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}

body {
  // ------------- Font Smoothing ---------
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

a {
  color: #fff;
}
//  ======================= Custom Components ===============================

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

// ======================== HOME  ============================================

.page-container {
  min-height: 100vh;
  min-width: 100vw;
  scroll-snap-align: start;
}

.row-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: center;
}

.text {
  max-width: 45ch;
}

.canvas-background {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -999;
}

// ======================== CUSTOM SCROLLBAR =======================================

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(113, 53, 255);

  border-radius: 2px;
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

// ========================================== FONTS ==========================
@font-face {
  font-family: 'Rany';
  src: local('Rany'), url(./assets/fonts/Rany-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Rany';
  font-weight: lighter;
  src: local('Rany'), url(./assets/fonts/Rany-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Rany';
  font-weight: bold;
  src: local('Rany'), url(./assets/fonts/Rany-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Rany';
  font-weight: bolder;
  src: local('Rany'), url(./assets/fonts/Rany-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Rany';
  font-weight: lighter;
  font-style: italic;
  src: local('Rany'),
    url(./assets/fonts/Rany-Light-Italic.otf) format('opentype');
}

@font-face {
  font-family: 'Rany';
  font-weight: normal;
  font-style: italic;
  src: local('Rany'),
    url(./assets/fonts/Rany-Italic.otf) format('opentype');
}

@font-face {
  font-family: 'Rany';
  font-weight: bold;
  font-style: italic;
  src: local('Rany'),
    url(./assets/fonts/Rany-Medium-Italic.otf) format('opentype');
}

@font-face {
  font-family: 'Rany';
  font-weight: bolder;
  font-style: italic;
  src: local('Rany'),
    url(./assets/fonts/Rany-Bold-Italic.otf) format('opentype');
}
