:root {
  --skew-amount: 15deg;
  --magic-number: 0.09719;
  --content-width: 100vw;
  --skew-padding: calc(var(--content-width) * var(--magic-number));
}
html {
  // ------------ Scrolling -------------
  overflow: overlay; /* Make scrollbar track transparent */
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

body {
  // ------------- Font Smoothing ---------
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // -------------- Cursor -------------
  // cursor: url('assets/images/ellipse.svg'), pointer;
  // cursor: -webkit-image-set(
  //     url('assets/images/ellipse.svg') 1x,
  //     url('assets/images/ellipse.svg') 2x
  //   ),
  //   pointer;

  height: 100%;
}

a {
  color: #fff;
}

// ======================== HOME  ============================================

.page-container {
  scroll-snap-align: start;
}

.left-diagonal-container,
.right-diagonal-container {
  min-height: 100vh;
  min-width: calc(50vw + var(--skew-padding));
  transform: SkewX(var(--skew-amount));

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.left-diagonal-container {
  align-items: center;
  align-content: center;
  background-color: black;
}

.right-diagonal-container {
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.left-content,
.right-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.left-content {
  padding-left: var(--skew-padding);
  padding-top: 10px;
  padding-bottom: 10px;
}

.right-content {
  padding-left: var(--skew-padding);
  min-height: 150px;
  background-color: green;
}

.right-content:hover {
  cursor: pointer;
}

.left-text,
.right-text {
  transform: skewX(calc(var(--skew-amount) * -1));
}

// ======================== CUSTOM SCROLLBAR =======================================

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
  border: 1px solid #2f1f35;
}

::-webkit-scrollbar-thumb {
  background: rgba(43, 12, 53, 0.7);
  border: 1px solid #2f1f35;
  border-radius: 4px;
}
// ======================= STUFF ===================================================
